#addTask{
    background-color: rgb(117, 114, 121);
    color: rgb(212, 206, 171);
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    transition: left 0.3s;
    z-index: 1;
}

.sidebar.active {
    left: 0;
}

.w3-sidebar{height:100%;width:200px;background-color:rgb(241, 227, 227);position:fixed!important;z-index:1;overflow:none}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

#div1{
    background-color: #5d68a1;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #333;
}
#div2{
    background-color: #5C6BC0;
    margin-bottom: 5px;
    color: #333;
}
#div3{
    background-color: #5C6BC0;
    margin-bottom: 5px;
    color: #333;
}

body {
    background-color: #f4f4f4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px #ccc;
    border-radius: 8px;
    background-color:0 2px 5px rgba(0,0,0,0.1);
    color: #333;
   }
   input{
    background: rgb(253, 253, 253);
    color: rgb(151, 151, 151);
   }
   ::placeholder{
    color: rgb(39, 39, 34);
    opacity: 0.7;
   }
   button{
    background-color: #5C6BC0;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   }
   button:hover{
    background-color: #3F51B5;
   }
   input{
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }



.centrerhaut{
    text-align: center;
}
#taskDone {
    color: #999;
    text-decoration: line-through;
   }

   .sidebar{
    background-color: #333;
    color: #fff;
   }
   .w3-sidebar{
    background-color: #4A4A4A;
   }
   .w3-bar-item{
    padding: 12px 24px;
   }

   #div1, #div2 , #div3{
    margin: 5px 0;
    color: #fff;
}

